{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/no-danger": 0,
    "no-param-reassign": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/core-modules": []
  },
  "env": {
    "browser": true
  }
}
